#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}
/* training */
#training .items{
    flex-direction: column;

}
#training .items .item {
    width: 100%;
}
/* courses */ 
.courses .course{
    flex-direction: column;
}